doctype html
html
  head
    title Subreddette
    link(href='./style.css' rel='stylesheet')
  body
    .container
      canvas#out

    script(src='https://not-an-aardvark.github.io/snoowrap/snoowrap-v1.11.3.min.js')
    script(src='scripts.js')
    script(src='./px.js')
    script(src='./algo.js')
    script(src='./main.js')
