doctype html
html
  head
    title Reddit Rainbow
    link(href='./css/style.css' rel='stylesheet')
  body
    .container
      h1
        select#type
          option hot
          option new
          option top
        |&nbsp;from r/
        input#edit(value='all' size='8')
      canvas#out

    script(src='./js/snoowrap-v1.11.3.min.js')
    script(src='./js/reddit.js')
    script(src='./js/px.js')
    script(src='./js/algo.js')
    script(src='./js/main.js')
